.ReferCards_wrp {
  background-image: url("../../assets/ReferCardsBack.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 114px 0 59px;
  .ReferCards_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    @media (max-width: 980px) {
        flex-direction: column;
    }
    .ReferCard {
      min-height: 470px;
      width: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      padding: 32px;
      &.ReferCard1 {
        background-image: url("../../assets/CardMan.png");
        justify-content: flex-end;
      }
      &.ReferCard2 {
        background-image: url("../../assets/CardWoman.png");
        justify-content: flex-start;
      }
      .cardContent {
        width: 50%;
        h2 {
          font-family: "Ceviche One", system-ui;
          font-weight: 100 !important;
          line-height: 86%;
          margin: 0;
        }
        p {
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
        }
        .womenBtn {
          margin-left: auto;
          background-image: url("../../assets/ReverseBtn.png");
          // box-shadow: -12px 12px 36px #F46EF1;
        }
      }
    }
  }
  .playoffCta {
    margin-top: 168px;
    background-image: url("../../assets/PlayGamesBackground.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 397px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .playoffBtn{
        height: 8dvw;
        span{
            transform: rotate(5deg);
        }
    }
  }
}
