.SubscribeCards_wrp {
  background-image: url('../../assets/ReferCardsBack.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 114px 0 59px;
  .SubscribeCards_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    @media (max-width: 980px) {
      flex-direction: column;
    }
    .SubscribeCard {
      min-height: 300px;
      width: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      padding: 32px;
       @media (max-width: 650px) {
              width: auto;
         }
      &.SubscribeCard1 {
        background-image: url('../../assets/FAQCard.png');
        justify-content: flex-start;
      }
      &.SubscribeCard2 {
        background-image: url('../../assets/SubscribeCard.png');
        justify-content: flex-start;
      }
      .cardContent {
        width: 50%;
        h2 {
          font-family: 'Ceviche One', system-ui;
          font-weight: 100 !important;
          line-height: 86%;
          font-size: 2.5rem;
          margin: 0;
        }
        p {
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
        }
        .subCardBtn {
    
          background-image: url('../../assets/ReverseBtn.png');
        }
      }
    }
  }
 
}
