// @import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// /* condiment */
// @import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Condiment&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Condiment&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Condiment&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import 'bootstrap/dist/css/bootstrap.min.css';

.container{
  margin: 0 auto;
  max-width: 1559px;
  width: 94%;
  margin: 0 auto;
}

.ceviche-one-regular {
  font-family: "Ceviche One", system-ui;
  font-weight: 200;
  font-style: normal;
}

.condiment-regular {
  font-family: "Condiment", cursive;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; /* Adjust weight as needed */
}

:root {
  --primary-color: #1976d2;
  --secondary-color: #ff9800;
  --background-color: rgb(14, 14, 14);
  --text-color: white;
  --grey-color: #3F3F3F;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
   font-family: "Montserrat", sans-serif;
}